<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= data.title %></title>
    <%= data.header %>
</head>
<body>
    <%= data.content %>
    <%= data.footer %>
    
    <script type="text/javascript" src="/vendor/iePolyfill.js"></script>
    <script type="text/javascript" src="/vendor/vendor.js"></script>
</body>
</html>